<style>
.title-slide {
  background-color: #FFFFFF; /* #EDE0CF; ; #CA9F9D*/
}
strong {
    font-weight: bold;
}
img {
    max-height: 400px;
    max-width: 800px;
}
article li {
  font-size: 24px;
}
p.small {
    font-variant: small-caps;
}
</style>
